body {
	font: 12px "Lucida Grande";
}

#plugin_icon {
	float: none;
	margin-right: 20px;
	position: fixed;
	z-index: -1;
	top: -15px;
	left: -30px;
	opacity: 0.75;
}

h1 {
	margin-left: 20px;
	margin-top: 40px;
}


#text {
	float: none;
	margin-left: 20px;
	margin-right: 20px;
	line-height: 18px;
}

.title {
	font-weight: bold;
}

.screenshot1 {
	width: 65%;
	margin-left:auto;
	margin-right: auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

.screenshot2 {
	width: 55%;
	margin-left:auto;
	margin-right: auto;
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
}

form {
	text-align:center;
}

.instructions {
	line-height: 20px;
	margin-top: 25px;
	margin-bottom: 25px;
}

.tips {
	margin-top:30px;
}